# ------------------------- begin Your code -----------------------------
	movl	-1308(%rbp),%eax     	#  sum -> %eax
	movq	-992(%rbp),%rcx     	#  ptr -> %rcx
	movl	0(%rcx),%edx         	#  ^.[0+%rcx] -> %edx
	addl	%edx,%eax         	#  %eax + %edx -> %eax
	movl	%eax,-1308(%rbp)     	#  %eax -> sum
# ----------------------- begin Epilogue code ---------------------------
	movq	%r9, %rbx        # restore %rbx (callee-saved) from %r9
        leave
        ret
        .cfi_endproc
.LFE0:
        .size   graph1, .-graph1
# ----------------- end Epilogue; Literal data follows ------------------
        .section        .rodata

        .ident  "CS 375 Compiler - Fall 2020"
