# ------------------------- begin Your code -----------------------------
	movsd	.LC3(%rip),%xmm0   	#  4.500000 -> %xmm0
	movq	-1016(%rbp),%rax     	#  john -> %rax
	movq	8(%rax),%rcx         	#  ^.[8+%rax] -> %rcx
	movq	8(%rcx),%rax         	#  ^.[8+%rcx] -> %rax
	movsd	%xmm0,24(%rax)         	#  %xmm0 -> ^. [24+%rax]
# ----------------------- begin Epilogue code ---------------------------
	movq	%r9, %rbx        # restore %rbx (callee-saved) from %r9
        leave
        ret
        .cfi_endproc
.LFE0:
        .size   graph1, .-graph1
# ----------------- end Epilogue; Literal data follows ------------------
        .section        .rodata
	.align  8
.LC3:
	.long	0   	#  4.500000
	.long	1074921472

        .ident  "CS 375 Compiler - Spring 2020"
