#graph1.pas
#graph1.lex
#graph1.lexer
#scantst.pas
#scantst.lex
#scantst.lexer
p*_gradingDir

*.zip
*.tar.gz
*.tar.xz

symTable/bin
symTable/build

moss_checkDir

compiler_issue

bad_students

deprecated*

*moss.sh

toServer.sh
todo.md

test.sh
database
test_p5_orig
test_p6_orig
test_p5_hidden
test_p6_hidden
sample_p5_orig
sample_p6_orig
sample_p5_hidden
sample_p6_hidden
*_hints.sh
maketest.sh
addToDatabase.sh
scripts/gentest.sh
scripts/change_year.sh