#graph1.pas
#graph1.lex
#graph1.lexer
#scantst.pas
#scantst.lex
#scantst.lexer
p*_gradingDir

*.zip
*.tar.gz

symTable/bin
symTable/build

moss_checkDir

compiler_issue

bad_students

*_deprecated

*moss.sh

toServer.sh
todo.md

gitrepo*
test.sh
