(program graph1
(progn output)
(progn (:= (aref ac (+ (* i 16) -16)) 3.400000e+00)
(:= (aref ac (+ (* j 16) -8)) 4.500000e+00)
(:= (aref people (+ (* k 48) -48)) 19)
(:= (aref people (+ (* q 48) -8)) 1.000000e+02)))
