(program graph1
(progn output)
(progn (:= (aref (^ (aref (^ john) 8)) 0) 23)
(:= (aref (^ (aref (^ john) 8)) 40) 1.200000e+03)
(:= (aref (^ (aref (^ john) 8)) 24) 5.400000e+00)
(:= (aref (^ (aref (^ (aref (^ john) 8)) 8)) 16) 9.700000e+01)))