Symbol table level 1
 25997040     complex  TYPE   typ 25996944  lvl  1  siz    16  off     0
(RECORD (re real)
        (im real))
 25997840         red  CONST  typ INTEGER  val  0
 25997936       white  CONST  typ INTEGER  val  1
 25998032        blue  CONST  typ INTEGER  val  2
 25998224       color  TYPE   typ 25998128  lvl  1  siz     4  off     0
  0 ..   2
 25998640      person  TYPE   typ 26000944  lvl  1  siz    48  off     0
(RECORD (age integer)
        (friend (^ person))
        (location (RECORD (re real)
                          (im real)))
        (favorite   0 ..   2)
        (salary real))
 25998832          pp  TYPE   typ 25998736  lvl  1  siz     8  off     0
(^ person)
 26001552           c  VAR    0 typ 25996944  lvl  1  siz    16  off     0
(RECORD (re real)
        (im real))
 26001648           d  VAR    0 typ 25996944  lvl  1  siz    16  off    16
(RECORD (re real)
        (im real))
 26002128           i  VAR    0 typ integer  lvl  1  siz     4  off    32
 26002224         sum  VAR    0 typ integer  lvl  1  siz     4  off    36
 26003216          ac  VAR    0 typ 26003120  lvl  1  siz   160  off    48
(ARRAY   1 ..  10 (RECORD (re real)
                          (im real)))
 26004432         aco  VAR    0 typ 26004336  lvl  1  siz   120  off   208
(ARRAY   1 ..  10 (ARRAY   0 ..   2   0 ..   2))
 26005168        john  VAR    4 typ 25998736  lvl  1  siz     8  off   328
(^ person)
 26005264        mary  VAR    4 typ 25998736  lvl  1  siz     8  off   336
(^ person)
 26005360        fred  VAR    4 typ 25998736  lvl  1  siz     8  off   344
(^ person)
 26005456         ptr  VAR    4 typ 25998736  lvl  1  siz     8  off   352
(^ person)
 26006448      people  VAR    0 typ 26006352  lvl  1  siz   960  off   368
(ARRAY   1 ..  20 (RECORD (age integer)
                          (friend (^ person))
                          (location (RECORD (re real)
                                            (im real)))
                          (favorite   0 ..   2)
                          (salary real)))
