# ------------------------- begin Your code -----------------------------
.L1:
	movl	$20,%eax         	#  20 -> %eax
	movq	-1000(%rbp),%rcx     	#  fred -> %rcx
	movl	%eax,0(%rcx)         	#  %eax -> ^. [0+%rcx]
	movl	-1308(%rbp),%eax     	#  sum -> %eax
	movl	$3,%ecx         	#  3 -> %ecx
	cmpl	%ecx,%eax           	#  compare %eax - %ecx
	jl	.L3 			#  jump if     <
	jmp	.L4 			#  jump 
.L3:
	jmp	.L1 			#  jump 
.L4:
# ----------------------- begin Epilogue code ---------------------------
	movq	%r9, %rbx        # restore %rbx (callee-saved) from %r9
        leave
        ret
        .cfi_endproc
.LFE0:
        .size   graph1, .-graph1
# ----------------- end Epilogue; Literal data follows ------------------
        .section        .rodata

        .ident  "CS 375 Compiler - Fall 2019"
