# ------------------------- begin Your code -----------------------------
	movq	-992(%rbp),%rax     	#  ptr -> %rax
	movsd	40(%rax),%xmm0         	#  ^.[40+%rax] -> %xmm0
	movl	$-8,%eax         	#  -8 -> %eax
	movl	$48,%edx         	#  48 -> %edx
	movl	-1312(%rbp),%ebx     	#  i -> %ebx
	imull	%ebx,%edx         	#  %edx * %ebx -> %edx
	addl	%edx,%eax         	#  %eax + %edx -> %eax
	cltq	                  	#  sign-extend
	movsd	%xmm0,-976(%rbp,%rax)	#  %xmm0 -> people[%rax]
# ----------------------- begin Epilogue code ---------------------------
	movq	%r9, %rbx        # restore %rbx (callee-saved) from %r9
        leave
        ret
        .cfi_endproc
.LFE0:
        .size   graph1, .-graph1
# ----------------- end Epilogue; Literal data follows ------------------
        .section        .rodata

        .ident  "CS 375 Compiler - Fall 2019"
