Symbol table level 0
 25567248        real  BASIC  basicdt   1          siz     8
 25567344     integer  BASIC  basicdt   0          siz     4
 25567440        char  BASIC  basicdt   2          siz     1
 25567536     boolean  BASIC  basicdt   3          siz     4
 25567632         exp  knd 5 0  typ 25567728  lvl  0  siz     0  off     0
(FUNCTION real
          real)
   ... lots more ...
Symbol table level 1
 25590736           i  VAR    0 typ integer  lvl  1  siz     4  off     0
 25590832         lim  VAR    0 typ integer  lvl  1  siz     4  off     4
 token 25592784  OP       program  dtype  0  link 0  operands 25589968
(program graph1 (progn output)
                (progn (:= lim 7)
                       (progn (:= i 0)
                              (label 0)
                              (if (<= i lim)
                                  (progn (funcall writeln '*')
                                         (:= i (+ i 1))
                                         (goto 0))))))
