Started scanner test.
yylex() =  258   tokentype:  3  value:                ac
yylex() =  285   tokentype:  1  which:    6            [
yylex() =  260   tokentype:  5  type:     0            7
yylex() =  286   tokentype:  1  which:    7            ]
