Started scanner test.
yylex() =  258   tokentype:  3  value:              john
yylex() =  272   tokentype:  0  which:   12            ^
yylex() =  273   tokentype:  0  which:   13            .
yylex() =  258   tokentype:  3  value:               age
