Started scanner test.
Integer number out of range
tokentype:  5  type:     0            0
tokentype:  0  which:    2            -
tokentype:  3  value:                 x
tokentype:  1  which:    2            ;
