Started scanner test.
tokentype:  3  value:                 u
tokentype:  3  value:                 v
tokentype:  3  value:                 w
tokentype:  3  value:                 x
tokentype:  3  value:                 y
tokentype:  3  value:                 z
